rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /shops/{shopId}/logo/{fileName} {
      allow read: if true;
      allow write: if isAuthenticated()
                   && request.resource.size < 2 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    match /shops/{shopId}/products/{fileName} {
      allow read: if true;
      allow write: if isAuthenticated()
                   && request.resource.size < 3 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
